body{
    #background-color: #222;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1{
    z-index: 100;
    word-wrap: break-word;
    font-size: 9em;
    width: 452px;
    margin: 0 0 0 -113px;

}

#content{
    width: 224px;
    margin-left: -112px;
    position: absolute;
    left: 50%;
    top: 15%;
}

#circle{
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;  /* follow the parent's edges */

}

#circle-container{
  width: 94%;
  position: absolute;
  margin: -30% 0 0 -47%;
  left: 50%;
  top: 50%;
}

#circle-container::after {
  padding-top: 100%; /* percentage of containing block _width_ */
  display: block;
  content: '';
}

#octocat{
    z-index: 200;
    height: 120px;
    width: 120px;
    margin-left: 52px;
}

