#circle{
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;  /* follow the parent's edges */

}

#container{
  display: inline-block; /* shrink to fit */
  width: 100%;           /* whatever width you like */
  position: relative;
}

#container::after {
  padding-top: 100%; /* percentage of containing block _width_ */
  display: block;
  content: '';
}