body{
    #background-color: #222;
    color: white;
}

h1{
    z-index: 100;
    word-wrap: break-word;
    font-size: 9em;
    width: 452px;
    margin: 0 0 0 -113px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#content{
    width: 224px;
    margin-left: -112px;
    position: absolute;
    left: 50%;
    top: 15%;
}

#circle{
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#circle-container{
  width: 94%;
  position: absolute;
  margin: -35% 0 0 -47%;
  left: 50%;
  top: 50%;
}

#circle-container::after {
  padding-top: 100%;
  display: block;
  content: '';
}

#octocat{
    z-index: 200;
    height: 120px;
    width: 120px;
    margin-left: 52px;
}

#strapline{
    font-family: 'Quicksand', sans-serif;
    font-weight: 200
}
